
	<style>
    .invoice-title h2, .invoice-title h3 {
        display: inline-block;
    }
    
    .table > tbody > tr > .no-line {
        border-top: none;
    }
    
    .table > thead > tr > .no-line {
        border-bottom: none;
    }
    
    .table > tbody > tr > .thick-line {
        border-top: 2px solid;
    }
    </style>
        
    

  <div class="container">
    <div class="row">
        <div class="col-12">
    		<div class="invoice-title add_top_30">
    			<h2>Invoice</h2><h5 class="float-right mt-3">Order # {{orderDetails._id}}</h5>
    		</div>
    		<hr>
    		<div class="row">
    			<div class="col-6">
    				<address>
    				<strong>Billed To:</strong><br>
    					{{orderDetails.guestInfo.guestName}}<br>
    					{{orderDetails.guestInfo.guestEmail}}<br>
    					{{orderDetails.guestInfo.guestPhone}}<br>
    				</address>
    			</div>
    			<div class="col-6 text-right">
    				<address>
        			<strong>From:</strong><br>
    					Hotel AGG<br>
    					1234 Main<br>
    					Apt. 4B<br>
    					Springfield, ST 54321
    				</address>
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-6">
    				<address>
    					<strong>Payment Method:</strong><br>
    					{{orderDetails.paymentMethod}}<br>
    					{{orderDetails.paymentStatus}}
    				</address>
    			</div>
    			<div class="col-6 text-right">
    				<address>
    					<strong>Order Date:</strong><br>
    					<span class="orderDates">{{orderDetails.createdAt}}</span><br><br>
    				</address>
    			</div>
    		</div>
    	</div>
    </div>
    
    <div class="row">
    	<div class="col-lg-12">
    		<div class="add_top_15">
    			<h3><strong>Order summary</strong></h3>
    				<div class="table-responsive">
    					<table class="table table-condensed">
    						<thead>
                                <tr>
        							<td><strong>Item</strong></td>
        							<td class="text-center"><strong>Price</strong></td>
        							<td class="text-center"><strong>Date</strong></td>
        							<td class="text-right"><strong>Totals</strong></td>
                                </tr>
    						</thead>
    						<tbody>
    							<tr>
    								<td>{{roomDetails.roomTitle}}</td>
    								<td class="text-center totalAmount">{{roomDetails.roomPrice}}</td>
    								<td class="text-center"> <span class="orderDates">{{orderDetails.dateCheckIn}}</span> <br> to <br> <span class="orderDates">{{orderDetails.dateCheckOut}}</span> </td>
    								<td class="text-right totalAmount">{{orderDetails.totalAmount}}</td>
    							</tr>
    							<tr>
    								<td class="thick-line"></td>
    								<td class="thick-line"></td>
    								<td class="thick-line text-center"><strong>Grand Total</strong></td>
    								<td class="thick-line text-right totalAmount">{{orderDetails.totalAmount}}</td>
    							</tr>
    							{{!-- <tr>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line text-center"><strong>Shipping</strong></td>
    								<td class="no-line text-right">$15</td>
    							</tr>
    							<tr>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line text-center"><strong>Total</strong></td>
    								<td class="no-line text-right totalAmount">{{orderDetails.totalAmount}}</td>
    							</tr> --}}
    						</tbody>
    					</table>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
<script src="/templates/admin-template/vendors/jquery/jquery.min.js"></script>

<script src="https://momentjs.com/downloads/moment.js"></script>

  <script>
	  	 $( ".orderDates" ).each(function( index ) {
		let thisDate = $(this).text()
		let value = moment(thisDate).format("dddd, MMMM Do YYYY");
  		$( this ).html(value) ;
	});

		var formatter = new Intl.NumberFormat('en-US', {
      style: 'currency',
      currency: 'INR',

      // These options are needed to round to whole numbers if that's what you want.
      //minimumFractionDigits: 0, // (this suffices for whole numbers, but will print 2500.10 as $2,500.1)
      //maximumFractionDigits: 0, // (causes 2500.99 to be printed as $2,501)
    });


	$( ".totalAmount" ).each(function( index ) {
  		$( this ).html(formatter.format(parseFloat($(this).text()))) ;
	});
  </script>