<style>
  .service-select {
    cursor: pointer;
    transition: 300ms;
  }

  .service-select:hover .service-text {
    color: white;
  }

  .service-select:hover {
    background-color:
      #435ebe;
  }

  .service-active {
    cursor: pointer;
    background-color: #435ebe;
  }

  .service-text-active {
    color: white;
  }
</style>
<link rel="stylesheet" href="/templates/admin-template/vendors/simple-datatables/style.css" />
<div class="page-heading">
  <h3>Orders</h3>
</div>
<section class="section">
  <div class="row">

    <div class="col-4 col-lg-2 col-md-2">
      <div class="card service-select" onclick="window.location.href = '/reception/orders/today'">
        <div class="card-body">
          <div class="row text-center">
            <h4 class="font-extrabold mb-0 service-text">Today</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4 col-lg-2 col-md-2">
      <div class="card {{#ifeq select "Tomorrow"}}service-active {{else}}service-select{{/ifeq}}" onclick="window.location.href = '/reception/orders?select=Tomorrow&days=2'">
        <div class="card-body">
          <div class="row text-center">
            <h4 class="font-extrabold mb-0 {{#ifeq select "Tomorrow"}}service-text-active {{else}}service-text{{/ifeq}}">Tomorrow</h4>
          </div>
        </div>
      </div>
    </div>

     <div class="col-4 col-lg-2 col-md-2">
      <div class="card {{#ifeq select "Week"}}service-active {{else}}service-select{{/ifeq}}" onclick="window.location.href = '/reception/orders?select=Week&days=7'">
        <div class="card-body">
          <div class="row text-center">
            <h4 class="font-extrabold mb-0 {{#ifeq select "Week"}}service-text-active {{else}}service-text{{/ifeq}}">Week</h4>
          </div>
        </div>
      </div>
    </div>


    <div class="col-4 col-lg-2 col-md-2">
      <div class="card {{#ifeq select "Missed"}}service-active {{else}}service-select{{/ifeq}}" onclick="window.location.href = '/reception/orders?select=Missed'">
        <div class="card-body">
          <div class="row text-center">
            <h4 class="font-extrabold mb-0  {{#ifeq select "Missed"}}service-text-active {{else}}service-text{{/ifeq}}">Missed</h4>
          </div>
        </div>
      </div>
    </div>


    <div class="col-4 col-lg-2 col-md-2">
      <div class="card {{#ifeq select "Cancelled"}}service-active {{else}}service-select{{/ifeq}}" onclick="window.location.href = '/reception/orders?select=Cancelled'">
        <div class="card-body">
          <div class="row text-center">
            <h4 class="font-extrabold mb-0  {{#ifeq select "Cancelled"}}service-text-active {{else}}service-text{{/ifeq}}">Cancelled</h4>
          </div>
        </div>
      </div>
    </div>

   

  </div>

  <div class="card">
    <div class="card-header">
      Simple Datatable
    </div>

    <div class="card-body">
      <table class="table table-striped" id="table1">
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Guest</th>
            <th>Check In/Out</th>
            <th>Total Amount</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          {{#each orderList}}
          <tr>
            <td><a href="/reception/order-invoice/{{this._id}}">{{this._id}}</a></td>
            <td>{{this.guestInfo.guestName}}
              <br />
              {{this.guestInfo.guestPhone}}
              <br />
              {{this.guestInfo.guestEmail}}</td>
            <td>
              <span class="orderDates">{{this.dateCheckIn}}</span>
              -
              <span class="orderDates">{{this.dateCheckOut}}</span></td>
            <td class="totalAmount">{{this.totalAmount}}</td>
            <td class="text-center">
              {{#ifeq this.orderStatus 'Cancelled'}}
                No Action
              {{else}}
              <button class="btn btn-outline-danger btn-sm m-1" onclick="window.location.href = '/reception/order-cancel/{{this._id}}'">Cancel</button>

              {{/ifeq}}
            </td>
          </tr>
          {{/each}}

        </tbody>
      </table>
    </div>
  </div>

</section>


<script src="/templates/admin-template/vendors/simple-datatables/simple-datatables.js"></script>
<script>
  dataTable = new simpleDatatables.DataTable(table1);
</script>
<script src="/templates/admin-template/vendors/jquery/jquery.min.js"></script>


<script src="https://momentjs.com/downloads/moment.js"></script>

<script>
  $(".orderDates").each(function (index) {
    let thisDate = $(this).text()
    let value = moment(thisDate).format("dddd, MMMM Do YYYY");
    $(this).html(value);
  });

  var formatter = new Intl.NumberFormat('en-US', {
    style: 'currency',
    currency: 'INR',

    // These options are needed to round to whole numbers if that's what you want.
    //minimumFractionDigits: 0, // (this suffices for whole numbers, but will print 2500.10 as $2,500.1)
    //maximumFractionDigits: 0, // (causes 2500.99 to be printed as $2,501)
  });


  $(".totalAmount").each(function (index) {
    $(this).html(formatter.format(parseFloat($(this).text())));
  });
</script>