<div class="page-heading">
  <h3>Services MGT</h3>
</div>
<section class="section">
  <div class="row card p-4">
    <div class="card-header text-center">
      <h4 class="card-title">Rooms Service</h4>
      <p class="text-center">Manage your rooms here</p>
    </div>
    <div class="col-12 col-md-8 offset-md-2">
      <div class="pricing">
        <div class="row align-items-center justify-content-center">

          <form id="addRoom" method="POST" action="/portal/service-mgt/edit-room" enctype="multipart/form-data">
            <input type="hidden" name="roomId" id="roomId" value="{{roomService._id}}" />
            <div class="row">
              <label>Title: </label>
              <div class="form-group">
                <input type="text" placeholder="Room name" class="form-control" id="roomTitle" name="roomTitle"
                  value="{{roomService.roomTitle}}" required />
              </div>
              <div class="row d-flex justify-content-center py-4">
                {{#each roomService.roomImages}}
                <div class="col-md-6 col-sm-12" id="{{this}}">
                  <div class="card d-flex" style="width: 18rem;">

                    <img src="{{this}}" class="card-img-top" alt="..." />
                    <button type="button" class="btn btn-danger"
                      onclick="confirm('Delete this image?') && deleteImage('{{this}}') ">
                      Delete</button>
                  </div>
                </div>

                {{/each}}

              </div>

              <!-- Image upload  -->

              <label>Add Images: </label>
              <div class="form-group">
                <input class="form-control" type="file" name="photos" id="photos" accept="image/*" multiple />
              </div>

              <label>Type: </label>
              <div class="form-group">
                <select class="form-select" id="roomFeatureType" name="roomFeatureType" required>
                  <option value="{{roomService.roomFeatureType}}">
                    --{{roomService.roomFeatureType}}--
                  </option>
                  <option value="AC">
                    AC
                  </option>
                  <option value="Non-AC">
                    Non-AC
                  </option>
                  <option value="Wild">
                    Wild
                  </option>
                  <option value="Unique">
                    Unique
                  </option>
                </select>
              </div>

              <label>Privacy: </label>
              <div class="form-group">
                <select class="form-select" id="roomPrivacyType" name="roomPrivacyType" required>
                  <option value="{{roomService.roomPrivacyType}}">
                    --{{roomService.roomPrivacyType}}--
                  </option>
                  <option value="Private">
                    Private
                  </option>
                  <option value="Shared">
                    Shared
                  </option>
                </select>
              </div>
              <label>Price: </label>
              <div class="form-group">
                <input type="number" placeholder="Price of room" class="form-control" id="roomPrice" name="roomPrice"
                  value="{{roomService.roomPrice}}" required />
              </div>

              <label>Max Occupancy: </label>
              <div class="form-group">
                <input type="number" placeholder="Don't cram your guests" class="form-control" id="maxOccupancy"
                  name="maxOccupancy" value="{{roomService.maxOccupancy}}" required />
              </div>

              <label>Price for extra bed: </label>
              <div class="form-group">
                <input type="number" placeholder="Extra bed price" class="form-control" id="extraBed" name="extraBed"
                  value="{{roomService.extraBed}}" required />
              </div>

              <label>How many such rooms you provide: </label>
              <div class="form-group">
                <input type="number" placeholder="Quantity" class="form-control" id="roomQty" name="roomQty"
                  value="{{roomService.roomQty}}" required />
              </div>
              <label>Description: </label>
              <div class="form-group">
                <textarea class="form-control" name="roomDescription" id="roomDescription" rows="5"
                  style="resize: none; width: 100%;" required>{{roomService.roomDescription}}</textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning ml-1"
                onclick="window.location.href = '/portal/service-mgt/disable-room'">
                <i class="bx bx-check d-block d-sm-none"></i>
                <span class="d-none d-sm-block">Disable</span>
              </button>
              <button type="button" class="btn btn-danger ml-1"
                onclick="window.location.href = '/portal/service-mgt/remove-room'">
                <i class="bx bx-check d-block d-sm-none"></i>
                <span class="d-none d-sm-block">Remove</span>
              </button>

              <button type="submit" class="btn btn-primary ml-1">
                <i class="bx bx-check d-block d-sm-none"></i>
                <span class="d-none d-sm-block">Update</span>
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

</section>

<script>
  function deleteImage(url) {
    let fileName = url.substring(url.lastIndexOf('/') + 1);

    const requestOptions = {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        roomId: document.getElementById('roomId').value,
        fileName,url
      }),
    }

    fetch(`/portal/service-mgt/edit-room/delete-image`, requestOptions)
      .then((response) => response.json())
      .then((data) => {
        console.log(data)
        if (!data.isSuccess) alert(data.message)
        else {
          document.getElementById(url).style.display = "none"
        }
      })
      .catch((err) => console.log(err));

  }
</script>