<div class="page-heading">
  <h3>Services MGT</h3>
</div>
{{#if serviceStatus.roomService}}
<section class="section">
  <div class="row card p-4">
    <div class="card-header text-center">
      <h4 class="card-title">Rooms Service</h4>
      <p class="text-center">Manage your rooms here</p>
    </div>
    <div class="col-12 col-md-8 offset-md-2">
      <div class="pricing">
        <div class="row align-items-center justify-content-center">

          {{#each serviceList.roomServices}}

          <div class="col-md-4">
            <div class="card">
              <div class="card-header text-center justify-content-center">
                <h4 class="card-title">{{this.roomTitle}}</h4>
                <!-- <p class="text-center">A standard features you can get</p> -->
              </div>
              <h1 class="price">RS.{{this.roomPrice}}</h1>
              <div class="row px-4 py-2 justify-content-center">
                <table>


                  <tr>
                    <td class="px-2">Feature</td>
                    <td> {{this.roomFeatureType}}</td>
                  </tr>
                  <tr>
                    <td class="px-2">Privacy</td>
                    <td> {{this.roomPrivacyType}}</td>
                  </tr>

                </table>
              </div>

              <div class="card-footer">
                <button class="btn btn-primary btn-block"
                  onclick="window.location.href = '/portal/service-mgt/edit-room/{{this._id}}'">Edit</button>
              </div>
            </div>
          </div>
          {{/each}}

          {{! Add new room card }}
          <div class="col-md-4" style="cursor: pointer;">
            <div class="card" style="outline: 2px dashed rgb(0, 0, 0); outline-offset: -10px;">
              <div class="card-header text-center">
                <h4 class="card-title">Add room</h4>
                <p class="text-center">Add new room to your portal </p>
              </div>
              <h1 class="price"><i class="bi bi-plus-square-dotted" data-bs-toggle="modal"
                  data-bs-target="#roomModal"></i></h1>

              <div class="card-footer border-0">
                <button class="btn btn-primary btn-block fw-bold" data-bs-toggle="modal"
                  data-bs-target="#roomModal">ADD</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>
{{/if}}



{{#if serviceStatus.eventService}}
<section class="section">
  <div class="row card p-4">
    <div class="card-header text-center">
      <h4 class="card-title">Event Service</h4>
      <p class="text-center">Manage your event halls here</p>
    </div>
    <div class="col-12 col-md-8 offset-md-2">
      <div class="pricing">
        <div class="row align-items-center justify-content-center">

          {{#each serviceList.eventService}}

          <div class="col-md-4">
            <div class="card">
              <div class="card-header text-center justify-content-center">
                <h4 class="card-title">{{this.eventTitle}}</h4>
                <!-- <p class="text-center">A standart features you can get</p> -->
              </div>
              <h1 class="price">RS.{{this.roomPrice}}</h1>
              <div class="row px-4 py-2 justify-content-center">
                <table>


                  <tr>
                    <td class="px-2">Feature</td>
                    <td> {{this.eventFeatureType}}</td>
                  </tr>
                  <tr>
                    <td class="px-2">Privacy</td>
                    <td> {{this.eventPrivacyType}}</td>
                  </tr>

                </table>
              </div>

              <div class="card-footer">
                <button class="btn btn-primary btn-block"
                  onclick="window.location.href = '/portal/service-mgt/edit-room/{{this._id}}'">Edit</button>
              </div>
            </div>
          </div>
          {{/each}}

          {{! Add new room card }}
          <div class="col-md-4" style="cursor: pointer;">
            <div class="card" style="outline: 2px dashed rgb(0, 0, 0); outline-offset: -10px;">
              <div class="card-header text-center">
                <h4 class="card-title">Add event</h4>
                <p class="text-center">Add new event hall to your portal </p>
              </div>
              <h1 class="price"><i class="bi bi-plus-square-dotted" data-bs-toggle="modal"
                  data-bs-target="#eventModal"></i></h1>

              <div class="card-footer border-0">
                <button class="btn btn-primary btn-block fw-bold" data-bs-toggle="modal"
                  data-bs-target="#eventModal">ADD</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>
{{/if}}


{{#if serviceStatus.foodService}}
<section class="section">
  <div class="row card p-4">
    <div class="card-header text-center">
      <h4 class="card-title">Food Service</h4>
      <p class="text-center">Manage your food menu here</p>
    </div>
    <div class="col-12 col-md-8 offset-md-2">
      <div class="pricing">
        <div class="row align-items-center justify-content-center">

          {{#each serviceList.foodService}}

          <div class="col-md-4">
            <div class="card">
              <div class="card-header text-center justify-content-center">
                <h4 class="card-title">{{this.roomTitle}}</h4>
                <!-- <p class="text-center">A standart features you can get</p> -->
              </div>
              <h1 class="price">RS.{{this.roomPrice}}</h1>
              <div class="row px-4 py-2 justify-content-center">
                <table>


                  <tr>
                    <td class="px-2">Feature</td>
                    <td> {{this.roomFeatureType}}</td>
                  </tr>
                  <tr>
                    <td class="px-2">Privacy</td>
                    <td> {{this.roomPrivacyType}}</td>
                  </tr>

                </table>
              </div>

              <div class="card-footer">
                <button class="btn btn-primary btn-block"
                  onclick="window.location.href = '/portal/service-mgt/edit-room/{{this._id}}'">Edit</button>
              </div>
            </div>
          </div>
          {{/each}}

          {{! Add new food card }}
          <div class="col-md-4" style="cursor: pointer;">
            <div class="card" style="outline: 2px dashed rgb(0, 0, 0); outline-offset: -10px;">
              <div class="card-header text-center">
                <h4 class="card-title">Add Food</h4>
                <p class="text-center">Add new food to your menu </p>
              </div>
              <h1 class="price"><i class="bi bi-plus-square-dotted" data-bs-toggle="modal"
                  data-bs-target="#foodModal"></i></h1>

              <div class="card-footer border-0">
                <button class="btn btn-primary btn-block fw-bold" data-bs-toggle="modal"
                  data-bs-target="#foodModal">ADD</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>
{{/if}}

<!--  MODAL of Event Registration -->
<div class="modal fade text-left" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel33">
          ADD EVENT
        </h4>
        <p>This is only for your request purpose.</p>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <i data-feather="x"></i>
        </button>
      </div>
      <form id="addEvent" method="POST" action="/portal/service-mgt/add-event" enctype="multipart/form-data">

        <div class="modal-body">
          <label>Title: </label>
          <div class="form-group">
            <input type="text" placeholder="Event name" class="form-control" id="eventTitle" name="eventTitle"
              required />
          </div>
          <!-- Image upload  -->

          <label>Main Image: </label>
          <div class="form-group">
            <input class="form-control" type="file" required name="mainImage" id="mainImage" accept="image/*" />
          </div>
          <label>Overview: </label>
          <div class="form-group">
            <input class="form-control" type="file" required name="overviewImage" id="overviewImage" accept="image/*" />
          </div>
          <label>One more shot: </label>
          <div class="form-group">
            <input class="form-control" type="file" required name="extraImage" id="extraImage" accept="image/*" />
          </div>


          <label>Type: </label>
          <div class="form-group">
            <select class="form-select" id="eventFeatureType" name="eventFeatureType" required>
              <option value="">
                --Select your event type--
              </option>
              <option value="AC">
                AC
              </option>
              <option value="Non-AC">
                Non-AC
              </option>
              <option value="Wild">
                Wild
              </option>
              <option value="Unique">
                Unique
              </option>
            </select>
          </div>

          <label>Price: </label>
          <div class="form-group">
            <input type="number" placeholder="Price of event" class="form-control" id="eventPrice" name="eventPrice"
              required />
          </div>

          <label>Max No of Guest: </label>
          <div class="form-group">
            <input type="number" placeholder="Don't cram your guests" class="form-control" id="maxOccupancy"
              name="maxOccupancy" required />
          </div>

          <label>Price for extra bed: </label>
          <div class="form-group">
            <input type="number" placeholder="Extra bed price" class="form-control" id="extraBed" name="extraBed"
              required />
          </div>

          <label>How many such event halls you provide: </label>
          <div class="form-group">
            <input type="number" placeholder="Quantity" class="form-control" id="eventQty" name="eventQty" required />
          </div>
          <label>Description: </label>
          <div class="form-group">
            <textarea name="eventDescription" id="eventDescription" rows="5" style="resize: none; width: 100%;"
              required></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
            <i class="bx bx-x d-block d-sm-none"></i>
            <span class="d-none d-sm-block">Close</span>
          </button>
          <button type="submit" class="btn btn-primary ml-1">
            <i class="bx bx-check d-block d-sm-none"></i>
            <span class="d-none d-sm-block">ADD</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- MODAL OF ROOM REGISTRATION -->

<div class="modal fade text-left" id="roomModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel33">
          ADD ROOM
        </h4>
        {{! <p>This is only for your request purpose.</p> }}
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <i data-feather="x"></i>
        </button>
      </div>
      <form id="addRoom" method="POST" action="/portal/service-mgt/add-room" enctype="multipart/form-data">

        <div class="modal-body">
          <label>Title: </label>
          <div class="form-group">
            <input type="text" placeholder="Room name" class="form-control" id="roomTitle" name="roomTitle" required />
          </div>
          <!-- Image upload  -->

          <!-- Image upload  -->

          <label>Add Images: </label>
          <div class="form-group">
            <input class="form-control" type="file" name="photos" id="photos" accept="image/*" multiple />
          </div>


          <label>Type: </label>
          <div class="form-group">
            <select class="form-select" id="roomFeatureType" name="roomFeatureType" required>
              <option value="">
                --Select your room type--
              </option>
              <option value="AC">
                AC
              </option>
              <option value="Non-AC">
                Non-AC
              </option>
              <option value="Wild">
                Wild
              </option>
              <option value="Unique">
                Unique
              </option>
            </select>
          </div>

          <label>Privacy: </label>
          <div class="form-group">
            <select class="form-select" id="roomPrivacyType" name="roomPrivacyType" required>
              <option value="">
                --Select your room type--
              </option>
              <option value="Private">
                Private
              </option>
              <option value="Shared">
                Shared
              </option>
            </select>
          </div>
          <label>Price: </label>
          <div class="form-group">
            <input type="number" placeholder="Price of room" class="form-control" id="roomPrice" name="roomPrice"
              required />
          </div>

          <label>Max Occupancy: </label>
          <div class="form-group">
            <input type="number" placeholder="Don't cram your guests" class="form-control" id="maxOccupancy"
              name="maxOccupancy" required />
          </div>

          <label>Price for extra bed: </label>
          <div class="form-group">
            <input type="number" placeholder="Extra bed price" class="form-control" id="extraBed" name="extraBed"
              required />
          </div>

          <label>How many such rooms you provide: </label>
          <div class="form-group">
            <input type="number" placeholder="Quantity" class="form-control" id="roomQty" name="roomQty" required />
          </div>
          <label>Description: </label>
          <div class="form-group">
            <textarea name="roomDescription" id="roomDescription" rows="5" style="resize: none; width: 100%;"
              required></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
            <i class="bx bx-x d-block d-sm-none"></i>
            <span class="d-none d-sm-block">Close</span>
          </button>
          <button type="submit" class="btn btn-primary ml-1">
            <i class="bx bx-check d-block d-sm-none"></i>
            <span class="d-none d-sm-block">ADD</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- MODAL OF FOOD REGISTRATION -->

<div class="modal fade text-left" id="foodModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel33">
          ADD FOOD ITEM
        </h4>
        {{! <p>This is only for your request purpose.</p> }}
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <i data-feather="x"></i>
        </button>
      </div>
      <form id="addFood" method="POST" action="/portal/service-mgt/add-food" enctype="multipart/form-data">

        <div class="modal-body">
          <label>Title: </label>
          <div class="form-group">
            <input type="text" placeholder="Food name" class="form-control" id="foodTitle" name="foodTitle" required />
          </div>
          <!-- Image upload  -->

          <label>Food Image: </label>
          <div class="form-group">
            <input class="form-control" type="file" required name="foodImage" id="foodImage" accept="image/*" />
          </div>

          <label>Price: </label>
          <div class="form-group">
            <input type="number" placeholder="Price of the food item" class="form-control" id="foodPrice"
              name="foodPrice" required />
          </div>

          <label>Type: </label>
          <div class="form-group">
            <select class="form-select" id="foodType" name="foodType" required>
              <option value="">
                --Select your food type--
              </option>
              <option value="Veg">
                Veg
              </option>
              <option value="Non-Veg">
                Non-Veg
              </option>
            </select>
          </div>

          <label>Category: </label>
          <div class="form-group">
            <select class="form-select" id="foodCategory" name="foodCategory" required>
              <option value="">
                --Select which Category the food belongs to--
              </option>
              <option value="Breakfast">
                Breakfast
              </option>
              <option value="Linner">
                Lunch/Dinner
              </option>
              <option value="Snacks">
                Snacks
              </option>
              <option value="FastFoods">
                Fast foods
              </option>
              <option value="Juice">
                Juice & Milkshakes
              </option>
            </select>
          </div>

          <label>Description: </label>
          <div class="form-group">
            <textarea name="foodDescription" id="foodDescription" rows="5" style="resize: none; width: 100%;"
              required></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
            <i class="bx bx-x d-block d-sm-none"></i>
            <span class="d-none d-sm-block">Close</span>
          </button>
          <button type="submit" class="btn btn-primary ml-1">
            <i class="bx bx-check d-block d-sm-none"></i>
            <span class="d-none d-sm-block">ADD</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>